{% extends "base.html" %}
{% block midpart %}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>





<style type="text/css">
    
.error{
    width: 181px;
    color: red;
}

</style>


<script>







$(function(){


    $('#ngo_form').validate({

        rules : {
            first_name : {
            required:true
            },

            gender : {
            required:true
            },


            blood_group:{
                required:true
            },

            current_address:{
                required:true
            },


            permanet_address:{
                required:true
            },


            joining_date:{
                required:true
            },


            date_of_birth:{
                required:true
            },


            mobile_number:{
                required:true
            },


            landline_number:{
                required:true
            },



            voter_id:{
                required:true
            },


            driving_license:{
                required:true
            },


            aadhar_cards:{
                required:true
            },







            last_name: {
            email : true,
            required:true,
            },

            phone:{
                required:true,
                digits: true,
                minlength:10,
                maxlength:10
            },

            description:{
                required:true
            },

        }
    });
});


</script>









<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Forms</a>
        </li>
    </ul>
</div>

<!--/row-->

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Form Elements</h2>
            </div>
            <div class="box-content">
				<form id="ngo_form" action="#" method = "post">{% csrf_token %}
					 {% if error %}
						<p style="color:red">
						<b>{{error}}</b>
						</p>
						{% endif %} {% for field in form %}


					 <div class="input-group col-md-4">
					 	 {{ field.label_tag }}{% if field.field.required %} <b>*</b>{% endif %} <br/> {{ field }}
					 	  <p style="color:red">{% if field.errors %}{{ field.errors|striptags }}{% endif %}</p>
				     </div>
					 	    {% endfor %} 

					 	    <br>
                    <input type="text" id="datepicker">
				     <button type="submit" class="btn btn-default">{% if edit %}Update{% else %}Submit{% endif %}</button>
				     <button type="button" class="btn close-fancybox btn-default">Cancel</button> 
				</form>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->

    <!-- content ends -->
    </div>



























{% endblock %}
