{% extends "base.html" %}


{% block midpart %}







        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
            {% if view.kwargs.model == 'company' %}

        <h2><i class="glyphicon glyphicon-user"></i> Organsation information</h2>

            {% elif view.kwargs.model == 'requirement' %}

        <h2><i class="glyphicon glyphicon-user"></i> Requirement information</h2>

            {% endif %}

        {% if view.kwargs.model == 'company' %}
            <a href="/masterdata/company/create/"><i class="glyphicon"></i>
        Add </a>
        {% endif %}

<!--         <div class="box-icon">
            <a href="/masterdata/company/create/" class="btn btn-setting btn-round btn-default"><i class="glyphicon"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
 -->


    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        {% if view.kwargs.model == 'profile' %}
            <th>First Name</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Current Address</th>
            <th>Date Of Birth</th>
            <th>Mobile Number</th>
            <th>Aadhaar Card</th>
            <th>Status</th> 
            <th>Actions</th>
        {% elif view.kwargs.model == 'employeeinfo' %}

            <th>Employee Id</th>
            <th>Working Shift</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Employee Role</th>
            <th>Under Supervision</th>
            <th>Break Time</th>
            <th>Over Time</th>


        {% endif %}        

    </tr>
    </thead>
    <tbody>

{% if view.kwargs.model == 'company' %}

    {% for i in object_list %}
        <tr>
            <td>{{i.name}}</td>
            <td class="center">{{i.address}}</td>
            <td class="center">{{i.location}}</td>
            <td class="center">{{i.type_of_company}}</td>
            <td class="center">
                <a class="btn btn-success" href="/company_info/{{i.id}}">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                Add New Requirement
                </a>
                <a class="btn btn-success" href="/masterdata/requirement/list/{{i.id}}">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                View Requirement
                </a>
            </td>


        </tr>
    {% endfor %}

{% elif view.kwargs.model == 'employeeinfo' %}


    {% for i in object_list %}
        <tr>
            <td>{{i.employee_id}}</td>
            <td class="center">{{i.working_shift}}</td>
            <td class="center">{{i.login_time}}</td>
            <td class="center">{{i.logout_time}}</td>
            <td class="center">{{i.employee_role}}</td>
            <td class="center">{{i.under_supervision}}</td>
            <td class="center">{{i.break_time}}</td>
            <td class="center">{{i.over_time}}</td>
        </tr>
    {% endfor %}



{% elif view.kwargs.model == 'profile' %}

    {% for i in object_list %}
        <tr>
            <td>{{i.first_name}}</td>
            <td class="center">{{i.gender}}</td>
            <td class="center">{{i.blood_group}}</td>
            <td class="center">{{i.current_address}}</td>
            <td class="center">{{i.date_of_birth}}</td>
            <td class="center">{{i.mobile_number}}</td>
            <td class="center">{{i.aadhar_card}}</td>
            <td class="center">
                <span class="label-warning label label-default">Pending</span>
            </td>
            <td class="center">
                <a class="btn btn-success" href="#">
                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                    View
                </a>
                <a class="btn btn-info" href="#">
                    <i class="glyphicon glyphicon-edit icon-white"></i>
                    Edit
                </a>
                <a class="btn btn-danger" href="#">
                    <i class="glyphicon glyphicon-trash icon-white"></i>
                    Delete
                </a>
        </td>


        </tr>
    {% endfor %}

{% endif %}







             



    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->













{% endblock %}
