{% extends "base.html" %}


{% block midpart %}











        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>




    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Interview Process</h2>

        <div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Resume Id</th>
        <th>Interview Round One</th>
        <th>Interview Round Two</th>
        <th>Selected/Rejected</th>

<!--        <th>Status</th>-->
<!--        <th>Action</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="center">Raji_HCL001_JAV002.pdf</td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Selected<input type="checkbox" name="vehicle" value="Bike"></td>
    </tr>

    <tr>
        <td class="center">Siva_HCL001_JAV002.pdf</td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Selected<input type="checkbox" name="vehicle" value="Bike"></td>
    </tr>

    <tr>
        <td class="center">Arun_HCL001_JAV002.pdf</td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Selected<input type="checkbox" name="vehicle" value="Bike"></td>
    </tr>

    <tr>
        <td class="center">Deva_HCL001_JAV002.pdf</td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Cleared<input type="checkbox" name="vehicle" value="Bike"></td>
        <td class="center">Selected<input type="checkbox" name="vehicle" value="Bike"></td>
    </tr>






    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->










{% endblock %}
