{% extends "base.html" %}


{% block midpart %}







    <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        
        <h2><i class="glyphicon glyphicon-user"></i> Recruitment information</h2>


    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Open</th>
        <th>Work in progress</th>
        <th>Notification</th>
    </tr>
    </thead>
    <tbody>
{% for i in object_list %}
    <tr>
        <td>

        {% if i.current_status == None %}
            {{i.unique_id}}<br><br>
            <a href="/recur_info/open/{{i.id}}">Open</a><br>
        {% endif %}
        </td>
        
        <td class="center"><br><br>
            {% if i.current_status == 1 %}
            {{i.unique_id}}<br><br>
            <span class="label label-info"><a href="/recur_info/inprogress/{{i.id}}">In progress</a></span>
            {% endif %}
        </td>
        
        <td class="center"><br><br>
            {% if i.current_status == 2 %}
            {{i.unique_id}}<br><br>
            <span class="label label-danger"><a href="#">closed</a></span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->



















{% endblock %}
