{% extends "base.html" %}


{% block midpart %}

<div class=" row">


    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/masterdata/company/list/" data-original-title="{{com_obj}}">
            <i class="glyphicon glyphicon-shopping-cart yellow"></i>

            <div>Sales</div>
            <div>{{com_obj}}</div>
            <span class="notification yellow">{{com_obj}}</span>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/recur_info/" data-original-title="{{sal_obj}}">
            <i class="glyphicon glyphicon-envelope red"></i>

            <div>Recruitment</div>
            <div>{{sal_obj}}</div>
            <span class="notification red">{{sal_obj}}</span>
        </a>
    </div>
</div>






{% endblock %}
